version: '3.7'

services:
    
    rabbitmq:
        image: 'rabbitmq:3.8.22-management-alpine'
        container_name: cookapp_rabbitmq
        hostname: 'cookapp_rabbitmq'
        restart: unless-stopped
        ports:
            - 5630:5672
            - 8090:15672
        env_file:
            - ./.env

    mysql:
        image: 'mariadb:10.6'
        container_name: 'cookapp_mysql'
        hostname: 'cookapp_mysql'
        restart: unless-stopped
        ports:                                                           
            - 3360:3306
        volumes:
            - ./backoffice/etc/backoffice_init.sql:/docker-entrypoint-initdb.d/backoffice_init.sql
            - ./attention/etc/attention_init.sql:/docker-entrypoint-initdb.d/attention_init.sql
        env_file:
            - ./.env

    backoffice_backend:
        image: 'cookapp_backoffice_backend:latest'
        container_name: 'cookapp_backoffice_backend'
        hostname: 'cookapp_backoffice_backend'
        build: ./backoffice
        restart: unless-stopped
        ports:
            - "5001:5000"
        volumes:
            - ./backoffice:/src/app
        env_file:
            - ./backoffice/.env
        depends_on:
            - rabbitmq
            - mysql
        command: python /src/app/Main.py
    
    backoffice_backend_test:
        image: 'cookapp_backoffice_backend_test:latest'
        container_name: 'cookapp_backoffice_backend_test'
        hostname: 'cookapp_backoffice_backend_test'
        build: ./backoffice
        restart: 'no'
        volumes:
            - ./backoffice:/src/app
        command: python -m unittest discover -s /src/app/tests -p "*Test.py"
    
    attention_backend:
        image: 'cookapp_attention_backend:latest'
        container_name: 'cookapp_attention_backend'
        hostname: 'cookapp_attention_backend'
        build: ./attention
        restart: unless-stopped
        ports:
            - "5002:5000"
        volumes:
            - ./attention:/src/app
        env_file:
            - ./attention/.env
        depends_on:
            - rabbitmq
            - mysql
        command: /bin/bash ./entrypoint.sh